# OS Files #
Thumbs.db
thumbs.db
.DS_Store
.DS_Store?

# Process files for open editors #
*.swp
*.bak
*~

# Packages, as sources shouldn't contain these #
*.7z
*.zip
*.dmg
*.tar
*.gz
*.rar
# *.jar
*.iso

# Compiled sources. It's always better to build your own #
*.o
*.so
*.exe
*.dll
*.class
*.com

# Maven-specific ignores, prevents populating git with build artifacts #
# Straight outta Git default .gitignore for Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.war # Added this because we deploy to WAR

# Java-specific ignores, prevents adding stuff other than the resources #
# Straight outta Git default .gitignore for Java #

# Excluded: 
# *.class 
# *.zip
# *.tar.gz
# *.rar
# These were already included in the compiled resources or packages parts #
*.log
#*.jar
*.war
*.nar
*.ear
hs_err_pid*
# For anyone still using BlueJ #
*.ctxt

# I use NetBeans as it's the only IDE currently installed on my system. #
# I moved to this <4mb downspeed dark hole just after needing a fresh Windows. #
# So now I can't get decent software to download and install due to #
# errors and failed downloads... #
nb-configuration.xml # You don't need my config!
Backend/.idea/misc.xml
/Backend/nbproject/
